<html ng-app="formApp">
<head>
	<meta charset="UTF-8">
	<title>Form validation</title>
	<link rel="stylesheet" type="text/css" href="bootstrap.css">
	<script type="text/javascript" src="angular.js"></script>
	<script type="text/javascript" src="../javascriptexampls/js/jquery.js"></script>
	<script type="text/javascript" src="../javascriptexampls/js/jquery-ui.min.js"></script>
	<script type="text/javascript"src="formvalidation.js"></script>
</head>
<style>
#form1{
	height:300px;
	width:300px;
	background-color: #F28F2F;
	margin:auto;
	margin-top: 100px;
}
#user{
	margin-left: 20px;
	margin-top: 20px;
}
#pwd{
	margin-left: 20px;
	margin-top: 20px;
}
#luser{
	margin-left: 20px;
	margin-top: 20px;
}
#lpwd{
	margin-left: 20px;
	margin-top: 20px;
}
#btn{
	margin-left: 120px;
}


</style>
<body ng-controller="formCtrl">
	<div id="form1">
	<form name="userForm"class="form">
		<label id="luser">UserName:</label>
		<input type="text" id="user"name="username"ng-model="username"><br><br>
		<span ng-show="!userForm.username.$pristine">Please enter UserName</span><br><br>
		<label id="lpwd">Password:</label>
		<input type="password" id="pwd"name="password"ng-model="password"><br><br>
		<span ng-show="userForm.password.$dirty">Please enter Password</span><br><br>
		<button class="btn btn-info" id="btn">Submit</button>
	</div>

	
</body>
</html>